<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lixeiras</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" 
    integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='style.css') }}">
</head>
<body class="container-center">
    <div class="vertical-center">
        <div class="container">
          <div class="row">
            <div class="col d-flex justify-content-center">
                <div class="wrapper">
                    {% for lixeira in lixeiras %}
                    <div class="card">
                        <div class="card-header">Lixeira {{lixeira.id}}</div>
                        <div class="card-main">
                            <i class="material-icons">delete</i>
                            <div class="main-description">{{lixeira.capacidade}}</div>
                            <div class="main-description">{{lixeira.localizacao}}</div>
                            {%if lixeira.aberta%}
                            <div class="main-description">Aberta</div>
                            {% else %}
                            <div class="main-description">Fechada</div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
<!--                    <div class="card">-->
<!--                        <div class="card-header">Lixeira 2</div>-->
<!--                        <div class="card-main">-->
<!--                        <i class="material-icons">delete</i>-->
<!--                        <div class="main-description">Capacidade</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="card">-->
<!--                        <div class="card-header">Lixeira 3</div>-->
<!--                        <div class="card-main">-->
<!--                        <i class="material-icons">delete</i>-->
<!--                        <div class="main-description">Capacidade</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="card">-->
<!--                        <div class="card-header">Lixeira 4</div>-->
<!--                        <div class="card-main">-->
<!--                        <i class="material-icons">delete</i>-->
<!--                        <div class="main-description">Capacidade</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="card">-->
<!--                        <div class="card-header">Lixeira 5</div>-->
<!--                        <div class="card-main">-->
<!--                        <i class="material-icons">delete</i>-->
<!--                        <div class="main-description">Capacidade</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="card">-->
<!--                        <div class="card-header">Lixeira 6</div>-->
<!--                        <div class="card-main">-->
<!--                        <i class="material-icons">delete</i>-->
<!--                        <div class="main-description">Capacidade</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="card">-->
<!--                        <div class="card-header">Lixeira 7</div>-->
<!--                        <div class="card-main">-->
<!--                        <i class="material-icons">delete</i>-->
<!--                        <div class="main-description">Capacidade</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="card">-->
<!--                        <div class="card-header">Lixeira 8</div>-->
<!--                        <div class="card-main">-->
<!--                        <i class="material-icons">delete</i>-->
<!--                        <div class="main-description">Capacidade</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="card">-->
<!--                        <div class="card-header">Lixeira 9</div>-->
<!--                        <div class="card-main">-->
<!--                        <i class="material-icons">delete</i>-->
<!--                        <div class="main-description">Capacidade</div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</body>
</html>