<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lixeiras</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='style.css') }}">

</head>
<body class="container-center">
    <div class="container" >
        <a class="links" id="paralogin"></a>
        
        <div class="content">      
          <div id="login">
            <form method="post" action="/login">
              <h1>Login</h1> 
              <p> 
                <label for="email_login">Seu e-mail</label>
                <input id="email_login" name="email_login" required="required" type="text" placeholder="contato@htmlecsspro.com"/>
              </p>
              
              <p> 
                <label for="senha_login">Sua senha</label>
                <input id="senha_login" name="senha_login" required="required" type="password" placeholder="1234" /> 
              </p>
              
              <p> 
<!--                <input type="submit" value="Logar" onclick="login(); return false"/> -->
                   <input type="submit" value="Logar" />
              </p>
              
            </form>

          </div>
        </div>
      </div> 
</body>

</html>
